public/wsdl/soap_app.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tns="urn:helloservicewsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="urn:helloservicewsdl">

    <wsdl:types>
        <xsd:schema targetNamespace="http://schema.example.com">
            <xsd:complexType name="resultArray">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <types>
        <xsd:schema targetNamespace="urn:hellowsdl">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
        </xsd:schema>
    </types>

    <message name="getSubPartsRequest">
        <part name="name" type="xsd:string"/>
    </message>

    <message name="getSubPartsResponse">
        <part name="return" type="tns:resultArray"/>
    </message>

    <message name="doesSubpartBelongToPartRequest">
        <part name="bodyPart" type="xsd:string"/>
        <part name="bodySubpart" type="xsd:string"/>
    </message>

    <message name="doesSubpartBelongToPartResponse">
        <part name="return" type="xsd:boolean"/>
    </message>

    <portType name="hellowsdlPortType">
        <operation name="getSubParts">
            <documentation>getSubParts World</documentation>
            <input message="tns:getSubPartsRequest"/>
            <output message="tns:getSubPartsResponse"/>
        </operation>
        <operation name="doesSubpartBelongToPart">
            <documentation>doesSubpartBelongToPart World</documentation>
            <input message="tns:doesSubpartBelongToPartRequest"/>
            <output message="tns:doesSubpartBelongToPartResponse"/>
        </operation>
    </portType>

    <binding name="hellowsdlBinding" type="tns:hellowsdlPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getSubParts">
            <soap:operation soapAction="urn:arnleadservicewsdl#getSubParts" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="doesSubpartBelongToPart">
            <soap:operation soapAction="urn:arnleadservicewsdl#doesSubpartBelongToPart" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="hellowsdl">
        <port name="hellowsdlPort" binding="tns:hellowsdlBinding">
            <soap:address location="http://symfony.localhost/soap"/>
        </port>
    </service>
</definitions>
